@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gas Mileage Log</h1>
    <p class="lead"> Enter your gas mileage here! <a href="/Logs/">[LOG]</a> </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Unsure of how to work the application?! Simply click on the [LOG] button!
        </p>
   
    </div>
    <div class="col-md-4">
        <h2>Get more applications!</h2>
        <p>Need something else? Send me an email and I'll get back to you!</p>
    </div>
</div>